<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Servers" value="10.51.27.30, 10.51.30.202, 10.51.30.20, 10.51.30.185, 10.51.30.184, 10.51.30.178, 10.51.27.225" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>
